<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <i class="fa fa-phone" aria-hidden="true"></i> <div class="call-phone"><strong>Telefon: </strong> <a href="{{ site.data.contact.phoneBa }}">{{ site.data.contact.phoneBa }}</a> <i class="fa fa-whatsapp" aria-hidden="true"></i> - Bosanski </div>
        <i class="fa fa-phone" aria-hidden="true"></i> <div class="call-phone"><strong>Telefon: </strong> {{ site.data.contact.phoneCh }} <i class="fa fa-whatsapp" aria-hidden="true"></i> - Švicarski </div>
        <i class="fa fa-phone" aria-hidden="true"></i> <div class="call-phone"><strong>Telefon: </strong> {{ site.data.contact.phoneHr }} <i class="fa fa-whatsapp" aria-hidden="true"></i> - Hrvatski </div>
        <i class="fa fa-phone" aria-hidden="true"></i> <div class="call-phone"><strong>Telefon: </strong> {{ site.data.contact.phoneSi }} <i class="fa fa-whatsapp" aria-hidden="true"></i> - Slovenski </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>Email: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Pokaži sve mogućnosti kontakta</a>
      </div>
    {% endif %}
</div>
